In [5]:
import fastf1
import fastf1.plotting
import matplotlib.pyplot as plt
import pandas as pd
from fastf1.ergast import Ergast

SEASON = 2022

In [6]:
ergast = Ergast()
races = ergast.get_race_schedule(SEASON)
results = []

for rnd, race in races['raceName'].items():
    temp = ergast.get_pit_stops(season=SEASON, round=rnd+1)
    temp = temp.content[0]
    
    temp['round'] = rnd + 1
    temp['race'] = race.removesuffix(' Grand Prix')
    results.append(temp)

results = pd.concat(results)
results.head()

          driverId  stop  lap      time               duration  round     race
0         hamilton     1   11  18:21:54 0 days 00:00:25.201000      1  Bahrain
1           alonso     1   11  18:22:10 0 days 00:00:25.365000      1  Bahrain
2  mick_schumacher     1   12  18:24:08 0 days 00:00:25.214000      1  Bahrain
3            albon     1   13  18:25:47 0 days 00:00:24.874000      1  Bahrain
4   max_verstappen     1   14  18:26:43 0 days 00:00:24.897000      1  Bahrain

In [7]:
results.dtypes

driverId             object
stop                  int64
lap                   int64
time                 object
duration    timedelta64[ns]
round                 int64
race                 object
dtype: object